{% extends "registration/auth_page.html" %}

{% block auth_title %}Recuperar contrase&ntilde;a · EasyLearn{% endblock %}
{% block auth_heading %}Recuperar contrase&ntilde;a{% endblock %}

{% block auth_content %}
<p class="el-login__auth-lead">
  Ingresa el correo asociado a tu cuenta institucional. Te enviaremos instrucciones para restablecer la contrase&ntilde;a.
</p>
<form class="el-login__auth-form" method="post" novalidate data-el-loader="server">
  {% csrf_token %}
  {% if form.non_field_errors %}
  <ul class="el-login__errors">
    {% for err in form.non_field_errors %}<li>{{ err }}</li>{% endfor %}
  </ul>
  {% endif %}
  <div class="el-login__field">
    <label class="el-login__label" for="id_email">Correo electr&oacute;nico</label>
    {{ form.email }}
    {% if form.email.errors %}
    <ul class="el-login__field-errors">{% for err in form.email.errors %}<li>{{ err }}</li>{% endfor %}</ul>
    {% endif %}
  </div>
  <button class="el-login__submit" type="submit">Enviar instrucciones</button>
</form>
{% endblock %}
