{% extends "registration/auth_page.html" %}

{% block auth_title %}Nueva contrase&ntilde;a · EasyLearn{% endblock %}
{% block auth_heading %}Nueva contrase&ntilde;a{% endblock %}

{% block auth_content %}
{% if validlink %}
<p class="el-login__auth-lead">Elige una contrase&ntilde;a segura para tu cuenta EasyLearn.</p>
<form class="el-login__auth-form" method="post" novalidate data-el-loader="server">
  {% csrf_token %}
  {% if form.non_field_errors %}
  <ul class="el-login__errors">
    {% for err in form.non_field_errors %}<li>{{ err }}</li>{% endfor %}
  </ul>
  {% endif %}
  {% for field in form %}
  <div class="el-login__field">
    <label class="el-login__label" for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field }}
    {% if field.errors %}
    <ul class="el-login__field-errors">{% for err in field.errors %}<li>{{ err }}</li>{% endfor %}</ul>
    {% endif %}
  </div>
  {% endfor %}
  <button class="el-login__submit" type="submit">Guardar contrase&ntilde;a</button>
</form>
{% else %}
<p class="el-login__auth-lead">El enlace no es v&aacute;lido o ya expir&oacute;.</p>
<p class="el-login__auth-note">
  <a class="el-login__link" href="{% url 'password_reset' %}">Solicitar un nuevo enlace</a>
</p>
{% endif %}
{% endblock %}
